<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.non.celiacc">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:layoutDirection="rtl"
        android:textDirection="rtl"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity"
            android:label="אפליקציית עמותת הצליאק בישראל">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="תפריט ראשי" />
        <activity android:name=".UpdateUser"
            android:label="עדכון פרטי משתמש" />
        <activity android:name=".NewUserForm"
            android:label="רישום משתמש חדש" />
        <activity
            android:name=".Search"
            android:label="חיפוש ידני" />
        <activity android:name=".BarcodeScan"
            android:label="סריקת ברקוד" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>